<!DOCTYPE html>

<html>
<head>
    <title>Restriction Site Remover &mdash; {{ pageTitle }}</title>
    <meta name="description" content="A simple tool for removing restriction sites." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/res/css/rsr.css">
    <script src="/res/js/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'header.twig' %}
    {% if hasNotice %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="alert alert-info alert-dismissible show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ noticeText }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if hasError %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="alert alert-danger alert-dismissible show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ errorText }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
    <footer class="footer">
        <p class="text-muted text-center">Restriction Site Remover &mdash; Copyright (&copy;) 2017 Restriction Site Remover</p>
    </footer>
</body>
</html>
