<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">RSR</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home <span class="sr-only">Home</span></a></li>
                <li><a href="/about">About <span class="sr-only">About</span></a></li>
                <li><a href="/help">Help <span class="sr-only">Help</span></a></li>
                <li><a href="https://github.com/sundayz/Restriction-Site-Remover">Source Code <span class="sr-only">Source Code</span></a></li>
            </ul>
        </div>
    </div>
</nav>
