{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <h1>About Restriction Site Remover</h1>
    <p>Restriction Site Remover is an <a href="https://github.com/sundayz/Restriction-Site-Remover">open source</a> web
        based tool that removes restriction sites from given DNA sequences.</p>
    <h2>Developers</h2>
    <ul class="list-unstyled">
        <li>Jack Lawrence</li>
        <li>Michael Soreanu</li>
        <li>Lewis Hülbert</li>
    </ul>
    <h2>Acknowledgements</h2>
    <ul class="list-unstyled">
        <li>Warwick iGEM 2017 &mdash; <a href="http://2017.igem.org/Team:Warwick">http://2017.igem.org/Team:Warwick</a></li>
        <li>Mike Cao &mdash; <a href="http://flightphp.com/">http://flightphp.com/</a></li>
    </ul>
    <hr />
    <h4 class="text-muted">Version 1.0.0</h4>
</div>
{% endblock %}
