{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <h1>About Restriction Site Remover</h1>
    <h4 class="text-muted">Version 2.0.0</h4>
    <p>Restriction Site Remover is an <a href="https://github.com/sundayz/Restriction-Site-Remover">open source</a> web
        based tool that removes restriction sites from given DNA sequences.</p>
    <h2>Developers</h2>
    <ul class="list-unstyled">
        <li>Jack Lawrence</li>
        <li>Michael Soreanu</li>
        <li>Lewis Hülbert</li>
    </ul>
    <h2>Acknowledgements</h2>
    <ul class="list-unstyled">
        <li>Warwick iGEM 2017 &mdash; <a href="http://2017.igem.org/Team:Warwick">http://2017.igem.org/Team:Warwick</a></li>
    </ul>
    <hr />
    <div class="row">
        <div class="col-xs-3 col-sm-1">
            <a href="http://2017.igem.org/Main_Page" target="_blank"><img src="/res/img/igem-logo-500.png" width="60px" alt="iGEM logo."></a>
        </div>
        <div class="col-xs-3 col-sm-1">
            <a href="http://warwick.ac.uk" target="_blank"><img src="/res/img/warwick-logo.png" width="80px" alt="Warwick University logo."></a>
        </div>
    </div>
</div>
{% endblock %}
