{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6">
            <h1>Using Restriction Site Remover</h1>
            <h3>Targetting Custom Sequences</h3>
            <p>RSR allows you to create your own sequences that are not included in the presets.</p>
            <p>The RSR custom sequence code is as follows:</p>
            <pre><code>
Name, Nucleotides
Name, Nucleotides
            </code></pre>
            <p>If <strong>name</strong> is omitted, your sequence will simply be referred to as "Custom Sequence X", where X is a number.
            Sequences are separated by newlines.</p>
            <p>This example code will create two custom sequences.</p>
            <pre><code>
My Sequence, ATTTTA
Another Sequence, GCTTCG
GCCGCC
            </code></pre>
        </div>
    </div>
</div>
{% endblock %}
